.youtube-player {
  background: #282727;
  position: relative;
  z-index: 1;

  &__player {
    display: block;
    width: 320px;
    height: 200px;
    clear: left;
    background: #000;
  }
  &__volume {
    position: relative;
    display:inline-block;
  }
  &__volume-control {
    position: relative;
    left: 100px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #ccc;
    cursor: pointer;
    display:none;
  }

  &__controls {
    padding: 10px 0;
  }

  &__control {
    width: 43px;
    height: 43px;
    display:inline-block;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align:middle;
    cursor:pointer;
  }

  &__progress-bar {
    overflow: hidden;
    position: absolute;
    height: 4px;
    background: #444;
    transition: height .2s;
    bottom: 0;
    width: 100%;
    cursor: pointer;
  }

  &__elapsed {
    position: absolute;
    z-index: 2;
    height: 4px;
    background: #1c93ba;
    display: block;
    width: 0px;
    z-index: 2;
    transition: height .2s;
    cursor: pointer;
  }

  &__buffered {
    position: absolute;
    z-index: 2;
    height: 4px;
    background: #666;
    display: block;
    width: 0px;
    z-index: 2;
    transition: height .2s;
    cursor: pointer;
  }

  &__time {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    margin: 12px;
  }

  &__divider {
    padding: 0 5px;
  }

  &__player-wrap {
    padding-bottom: 4px;
    position: relative;
    clear: both;
    &:hover {
      .youtube-player__progress-bar,
      .youtube-player__elapsed,
      .youtube-player__buffered {
        height: 7px;
      }
    }
  }

  &__play-pause {
    border: 1px solid #fff;
    border-radius: 90px;
    background-position: 11px 9px;
    &--playing {
      background-image: url('../images/pause.svg');
      background-position: 9px;
    }
    &--paused {
      background-image: url('../images/play.svg');

    }
  }

  &__mute-unmute {
    &--unmuted {
      background-image: url('../images/volume-high.svg');
    }

    &--muted {
      background-image: url('../images/volume-mute.svg');
    }
  }

  &__prev-track {
    background-image: url('../images/previous.svg');
  }

  &__next-track {
    background-image: url('../images/next.svg');
  }
}
