.youtube-player {
  &__player {
    display: block;
  }
  &__volume {
    position: relative;
  }
  &__volume-control {
    position: relative;
    left: 100px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #ccc;
    display:block;
    cursor: pointer;
  }

  &__progress-bar {
    position: absolute;
    height: 4px;
    background: #444;
    transition: height .2s;
    bottom: 0;
    width: 100%;
    cursor: pointer;
  }

  &__elapsed {
    position: absolute;
    z-index: 2;
    height: 4px;
    background: #19b736;
    display: block;
    width: 0px;
    z-index: 2;
    transition: height .2s;
    cursor: pointer;
  }

  &__buffered {
    position: absolute;
    z-index: 2;
    height: 4px;
    background: #666;
    display: block;
    width: 0px;
    z-index: 2;
    transition: height .2s;
    cursor: pointer;
  }

  &__player-wrap {
    padding-bottom: 4px;
    position: relative;
    &:hover {
      .youtube-player__progress-bar,
      .youtube-player__elapsed,
      .youtube-player__buffered {
        height: 7px;
      }
    }
  }
}
