.hero {
  overflow: hidden;
  position: relative;

  &__image,
  &__image-combo {
    float: left;
    margin-right: 20px;
  }

  &__image-combo {
    width: 174px;
    height: 174px;
    position: relative;
  }

  &__identifier {
    text-transform: uppercase;
    color: #ccc;
    margin-top: 0px;
  }
}
