.tracks {
  margin: 40px 0;

  &__heading {
    text-transform: uppercase;
    color: #999;
    font-weight: normal;
    font-size: 12px;
    padding: 10px;
    text-align: left;

    &--no {
      width: 40px;
    }

    &--actions {
      width: 65px;
    }
  }

  &__table {
    border-collapse: collapse; 
    width: 100%;
    table-layout: fixed;
  }
}
