.play-queue {
  max-height: calc(100% - 450px);
  overflow: auto;
  top: 0;
  position: relative;
  padding: 0px 0px 0px 5px;
  border-top: 0px solid #333;
  border-bottom: 0px solid #333;
  transition: top 2s ease 0s;

  &::-webkit-scrollbar {
    width:11px;
    background: #282727;
  }

  &::-webkit-scrollbar:horizontal {
    height:11px;
  }

  &::-webkit-scrollbar-thumb {
    border:2px solid transparent;
    background-color:#505050;
    background-clip:content-box;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
  }

  &::-webkit-scrollbar-corner {
    background-color:#000000;
  }
  
  &__placeholder {
    height: calc(100% - 450px);
  }

  &__list {
    margin: 0;
    margin-right: 2px;
  }

  &__list-item {
    padding: 8px 10px 7px 4px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    border-bottom: 1px solid #333;
    position: relative;

    &:hover {
      background: #111;
    }

    &--selected {
      background: #111;
      color: #11dbd4;
    }
  }

  &__artist {
    margin-right: 10px;
    width: 100px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__track {
    width: 158px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__remove-track {
    display:none;
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 29px;

    .play-queue__list-item:hover & {
      display:block;
    }
  }
}
