<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <% } %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=932035920185631";
        fjs.parentNode.insertBefore(js, fjs);
      }
     )(document, 'script', 'facebook-jssdk');

       function postToFeed(title, desc, url, image){
          var obj = {
            method: 'feed',
            link: url,
            picture: image,
            name: title,
            description: desc
          };
          function callback(response){}
          FB.ui(obj, callback);
        }
    </script>
    <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
        return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <div id="react-view"></div>
    <% if (htmlWebpackPlugin.options.window) { %>
      <script>
        <% for (var varName in htmlWebpackPlugin.options.window) { %>
          window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
        <% } %>
      </script>
    <% } %>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="http://cdn.auth0.com/js/lock/10.7.3/lock.min.js"></script>
  </body>
</html>
