.user-sidebar {
  padding: 10px 0 0 30px;
  overflow: scroll;

  &__heading {
    text-transform: uppercase;
    color: #aaa;
    font-size: 14px;
    font-weight: 600;
  }

  &__list {
    margin: 10px 0 30px 0px;
    font-size: 14px;

    &-item {
      margin-bottom: 10px;

      a {
        color: #aaa;
        text-decoration: none;
        display: block;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
