@main-bck: #222;

body {
  background:@main-bck;
  color: #eee;
}

ul {
	padding-left: 0;
}

li {list-style: none}

input {
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
