:local(.root) {
	position: absolute;
	top: 60px;
	left: 20px;
	width: 300px;
	border: 1px solid #000;
	background: #282727;
}

:local(.section) {
	
}

:local(.heading) {
    background: #333;
    color: #dcdcdc;
	margin: 0;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: normal;	
}

:local(.list) {
   margin: 5px 10px;	
}

:local(.list_item) {
    margin-bottom: 5px;
	font-size: 13px;
	clear: left;
	overflow:hidden;
}

:local(.thumbnail) {
	float:left;
	margin-right: 5px;	
}

:local(.artist) {
	margin-top: 1px;
	font-size: 11px;
	color: #aaa;
	display:block;
}

