.artist {
  padding: $route-content-padding;
  &__header {
    overflow: hidden;
  }

  &__header-image {
    float: left;
    margin-right: 20px;
  }

  &__header-identifier {
    text-transform: uppercase;
    color: #ccc;
    margin: 0px 0 25px 0;
  }

  &__bio {
    font-size: 14px;
    height: 49px;
    overflow: hidden;
  }

  &__read-more {
    margin: 0;
    text-decoration: none;
  }

  &__read-more-link {
    text-decoration: none;
    font-size: 12px;
    color: #19b736;
    &:hover {
      text-decoration: underline;
    }
  }
}

.modal {
  &--full-bio {
    .modal__dialog {
      top: 10px;
      width: 650px;
      left: calc(50% - 325px);
    }
  }
}
