@import './styles/normalize.css';
@import './styles/base.scss';
@import './styles/font-awesome.css';
@import './styles/variables.scss';
@import './styles/hero.scss';
@import './styles/tracks.scss';

@import './components/app/styles';
@import './components/search/styles';
@import './components/search-autocomplete/styles';
@import './components/search-autocomplete-section/styles';
@import './components/youtube-player/styles';
@import './components/album/styles';
@import './components/artist/styles';
@import './components/home/styles';
@import './components/play-queue/styles';
@import './components/play-queue-tools/styles';
@import './components/current-track-summary/styles';
@import './components/user-sidebar/styles';
@import './components/login/styles';
@import './components/playlists/styles';
@import './components/playlist-page/styles';
@import './components/track/styles';
@import './components/modal/styles';
@import './components/playlist-image/styles';
@import './components/track-tools/styles';

.route-content-spinner {
   background:  url('images/spinner.svg') no-repeat;
   width: 165px;
   height: 165px;
   margin: 100px auto 0 auto;
}


body::-webkit-scrollbar
{
	width:11px;
	background-color:#000000;
}
body::-webkit-scrollbar:horizontal
{
	height:11px;
}
body::-webkit-scrollbar-thumb
{
	border:2px solid transparent;
	background-color:#505050;
	background-clip:content-box;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
}
body::-webkit-scrollbar-corner
{
	background-color:#000000;
}

.button {
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  padding: 10px 40px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }

  &--primary {
    background: #19b736;
  }
}

.uppercase {
  text-transform: uppercase;
}

.auth0-lock-widget-container {
  font-family: arial, sans-serif !important;
}

.auth0-lock-header-logo {
  display: none !important;
}

.auth0-lock-header {
  height: 50px !important;
}

::selection {
  background: #aaa; 
}
::-moz-selection {
  background: #aaa; 
}
