.current-track-summary {
  padding: 10px 0 10px 5px;;
  float: left;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 2;
  &__thumb {
    float: left;
    margin-right: 10px;
    background: url('../images/summary-record.png') no-repeat;
  }

  &__track-name {
    margin: 8px 0 7px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__artist {
    margin: 0;
  }
}
