.playlist {
  font-size: 14px;
  padding-bottom: 125px;

  &__item {
    margin: 0;
    padding: 5px 0;
  }

  &__link {
    color: #aaa;
    display: block;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  &__spinner {
    color: #aaa;
    position: absolute;
    left: calc(50% - 15px);
  }
}

.new-playlist {
  border-top: 1px solid #282727;
  padding: 15px;
  cursor: pointer;
  z-index: 2;
  background: #161616;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #aaa;

  @include breakpoint(999px) {
    width: 175px;
    border-right: 4px solid #282727;
  }

  &:hover {
    color: #fff;
  }

  @include breakpoint(1024px) {
    width: 240px;
  }

  &__icon {
    float: left;
  }

  &__text {
   float: left;
   background: #161616;
   margin: 0 0 0 5px;
   line-height: 28px;
  }
}
