.autocomplete {
	position: fixed;
	top: 50px;
  left: calc(50% - 73px);
	width: 300px;
	border: 1px solid #000;
	background: #282727;
  z-index: 4;
}

.view-more {
  color: #fff;
  background: #444;
  text-decoration: none;
  display: block;
  padding: 7px;
  font-size: 15px;

  &__link {
    display: inline-block;
    padding-left: 7px;
    width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
