.play-queue-tools {
  margin: 0;
  position: fixed;
  bottom: 10px;

  &__tool {
    width: 43px;
    height: 15px;
    display:inline-block;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align:middle;
    cursor:pointer;

    &:first-of-type {
      margin-left: 10px;
    }
  }

  &__shuffle, &__repeat {
    &--on {
      color: #19b736;
    }
  }
}
