body {
  background: #111;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #282727;
  padding: 10px 0;
  z-index: 3;

  &__container {
    margin: 0 auto;
    width: 325px;
  }

  &__title {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 1.5em;
  }

  &__title-link {
    color: #fff;
    text-decoration: none;
  }
}

.route-content {
  margin: 61px 325px 0 240px;
  height: 100%;
  min-height: 600px;
}

.sidebar {
  position: fixed;
  height: 100%;
  background: #161616;
  top: 61px;

  &--left {
    width: 240px;
    border-right: 4px solid #282727;
    padding: 0 20px;
  }

  &--right {
    right: 0;
    width: 329px;
    border-left: 4px solid #282727;
    border-right: 4px solid #282727;
  }
}
