@import "../../styles/breakpoints";

body {
  background: #111;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #282727;
  padding: 10px 0;
  z-index: 3;

  &__container {
    margin: 0 auto;
    width: 320px;
  }

  &__title {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 1.5em;
  }

  &__title-link {
    color: #fff;
    text-decoration: none;
  }
}

.route-content {
  margin: 61px 330px 0 174px;
  height: 100%;
  min-height: 600px;  
  @include breakpoint(1024px) {
    margin-left: 240px;
  }
}

.sidebar {
  position: fixed;
  height: 100%;
  background: #191919;
  top: 61px;
  z-index: 2;

  &--left {
    width: 175px;
    border-right: 4px solid #282727;
    padding: 0 20px;

    @include breakpoint(1024px) {
      width: 240px;
    }
  }

  &--right {
    right: 0;
    top: 64px;
    width: 328px;
    padding-top: 3px;
    border-left: 4px solid #282727;
    background: #282727;
    border-right: 4px solid #282727;
  }

  &--left {
    .fa {
      margin-right: 10px;
    }
  }
}
